# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"
SHEETDB_ENDPOINT=""
# I shouldn't put constants in a .env but that's just a convention. I like it better
REFRESH_TIME="8640000"
# 8640000 = 24 * 60 * 60 * 1000, 24 hours in milliseconds.